[submodule "pkb_back"]
	path = pkb_back
	url = git@github.com:infiniityr/pkb_back.git
[submodule "pkb_front"]
	path = pkb_front
	url = git@github.com:infiniityr/pkb_front.get
[submodule "pkb_infra"]
	path = pkb_infra
	url = git@github.com:infiniityr/pkb_infra.git
